DOCKER_REGISTRY=
MSSQL_SA_PASSWORD=
JWT_SECRET=
SMTP_USERNAME=
SMTP_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_PERSONAL_NUMBER=
ADMIN_PHONE_NUMBER=
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=